




<div class="container-fluid">

 
   
        <div class="row">
            <div class="col-lg-12 ">
                <img class="home-bg" src="assets\img\home-bg-new.png" alt="">
            </div>
        </div>
    
  
        
    
    
    <div class="row ">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 tab-main">
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item tab-item">
            <a class="nav-link active nav-red" data-toggle="tab" href="#Delivery"> <img src="assets\img\delivery-bike-32x32.36bfbc1f71423e3d93e140394dd302f3.gif" alt="">  Delivery</a>
          </li>
          <li class="nav-item tab-item ">
            <a class="nav-link link nav-red" data-toggle="tab" href="#Takeaway"><img src="assets\img\collection-32x32.c3cdbff96f386154787b2945c73a16b6.gif" alt="">  Takeaway</a>
          </li>
          
        </ul>
      
       
        <div class="tab-content">
          <div id="Delivery" class="container tab-pane active"><br>
          <div>
            <h5>CONTACTLESS DELIVERY</h5>
            </div>
            <div class="tab-link">
            <p>Contactless Delivery is now available!
            <a href="#" class="tab-link" style="text-decoration: underline;"> <p> Learn More</p></a>
          </div>
            <div class="contents">
            <input type="text" class="input-box" placeholder="Enter your Location for Delivery">
            <a href="#" class="geo-tab ">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
              </svg> Find My  Current Location</a>
            
            </div>
          </div>
          <div id="Takeaway" class="container  tab-pane fade"><br>
           <div> <h5>CONTACTLESS TAKEWAY IS NOW AVAILABLE</h5></div>
           <div> <p class="tab-link">Order online & collect safely.</p></div>
            <div class="contents">
            <input type="text" class="input-box" placeholder="Enter your Takeway Location">
            <a href="#" class="geo-tab ">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
              </svg> Find My  Current Location</a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    
    
    
    <div class="row">
    <div class="col-lg-12  deals">
       <hr class="deals-hr-1">
       <h4 class="deals-h4">Our Most Popular Deals</h4>
       <hr class="deals-hr-2"> 
    </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
           
       <img class="home-promo" src="assets\img\one-plus-one.1c04b9aa28fe0588592757ffc9111ae6.1.jpg" alt="">
       <p class="home-promo-p">Deal may vary by location, only at participating stores, excluding dine-in restaurants, T&Cs apply</p>
    </div>
    <div class="col-lg-4">
        <img class="home-promo" src="assets\img\momo-mia-meal-for-1.9b26ce043967fa447ef98d6579536f20.1.jpg" alt="">
        <p class="home-promo-p">Deal may vary by location, only at participating stores, excluding dine-in restaurants, T&Cs apply</p>
    </div>
       
    
    <div class="col-lg-2"></div>
    <button class="btn btn-success view-btn">View all deals</button>
    </div>
    
    
    
    <div class="row footer">
      <div class="col-lg-2"></div>
       <div class="col-lg-2 col1" >
          <div>
            <h5 class="footer-header">Order Now</h5>
          </div>
          <div class="footer-links">
              Deals
          </div>
          <div class="footer-links">
              Pizza
          </div>
          <div class="footer-links">
              slides
          </div>
          <div class="footer-links">
              Drinks
          </div>
          <div class="footer-links">
              Desserts
          </div>
        </div>
     
        <div class="col-lg-2 col2" >
          <div>
            <h5 class="footer-header">About</h5>
          </div>
          <div class="footer-links">
             About Us
          </div>
          <div class="footer-links">
             Contactless delivery
          </div>
          <div class="footer-links">
              Nutrition
          </div>
       
        </div>
    
        <div class="col-lg-2 col3" >
          <div>
            <h5 class="footer-header">Our Policies</h5>
          </div>
          <div class="footer-links">
              Terms & Condition
          </div>
          <div class="footer-links">
              Responsible disclosure
          </div>
          <div class="footer-links">
              FAQs & Help
          </div>
          
        </div>
    
        <div class="col-lg-2 col4" >
          <div>
            <h5 class="footer-header">Visit Pizza Hut</h5>
          </div>
          <div class="footer-links">
              Locate a store
          </div>
          <div class="footer-links">
              Global Blog
          </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-5">
        
      </div>
      <div class="col-lg-3" style="padding: 20px;">
       <img src="assets\img\app-store-ios.fd6d0921ff522febd6e2a4c2fab9af72.svg" alt="" style="width: 120px; " >
       <img src="assets\img\app-store-google-play.b1ffb9f40420b63efe43e34f60bfb682.png" alt="" style="width: 120px;">
      </div>
      <div class="col-lg-4">
       
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-6 feedback" style="padding-left: 10%;">
        <p style="color: white;">Help us in serving you better
          <button type="submit" class="btn btn-light  mb-2">Give Feedback</button>
        </p>
      </div>
      <div class="col-lg-3">
        
      </div>
      <div class="col-lg-3">
        <div>
          <p style="color: white;">Follow Us</p>
        </div>
        <div style="margin-bottom: 20px; position: relative; right: 30px;">
          <img src="assets\img\social-white-facebook.7cce5c98cdf27ef51601f3650f73b465.png" alt="" style="width: 20px; margin-right: 10px;">
          <img src="assets\img\social-white-twitter.ef766a459cb51bbdaf9b24eaa5d21289.png" alt="" style="width: 22px; margin-right: 10px;">
          <img src="assets\img\social-white-instagram.cf20de72a775ca841c887ea845457fa0.png" alt="" style="width: 23px; margin-right: 10px; ">
          <img src="assets\img\social-white-youtube.c5d3435334b39f9535c1eeb639938a30.png" alt="" style="width: 24px; margin-right: 10px;">
        </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-1">
    
      </div>
      <div class="col-lg-10">
       <div>
         <p  class="ftr-txt text-center">Order a delicious pizza on the go, anywhere, anytime. Pizza Hut is happy to assist you with your home delivery. 
           Every time you order, you get a hot and fresh pizza delivered at your doorstep in less than</p>
          <p class="ftr-txt text-center" >thirty minutes. *T&C Apply.</p>
      </div>
      <div>
        <p class="ftr-txt text-center">Hurry up and place your order now!</p>
      </div>
       <div>
        <p class="ftr-txt text-center">© 2021 Pizza Hut India. All rights reserved. License Number: 10017011004220</p>
      </div>
      <div class="col-lg-1">
        
      </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-4">
        
      </div>
      <div class="col-lg-4">
       <img src="assets\img\FSAAI-logo.cb99007614b9cff3e0150bce9711641d.svg" alt="" style="width: 70px; height: 70px; border-radius: 6px; margin-bottom: 10px; background-color: white;" class="mx-auto d-block">
      </div>
      <div class="col-lg-4 footer">
        
      </div>
    </div>
    
      
       
    </div>
    
    
    
     
    