
<div class="container-fluid">

 
        
    
    
    
    <div class="row sec-2">
    
    <div>
    <h2 class="heading-h2 "> Our Deals</h2>
    <p class="heading-p">Check out the latest meal deals available from Pizza Hut</p>
    </div>
    </div>
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
          <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
          <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
          <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
          <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" >
        <img class="card-img-top" src="assets\img3\stuffed-crust-meal-for-1.3a19f26de77865f19ea3e8cf4dea7819.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
          <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
        <div class="card" >
          <img class="card-img-top" src="assets\img3\baked-cheesy-momo-meal-for-1.c730ce51aaacff4f986f8b4440b78986.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
            <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
    
          <div class="card" >
            <img class="card-img-top" src="assets\img3\bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
              <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    <div class="row sec-2">
      <div class="col-lg-2" ></div>
    <div class="col-lg-2">
    
    <div class="card" >
      <img class="card-img-top" src="assets\img3\momo-mia-choco-sundae-meal-for-1.fcd231ce3ef38702e19552bf791f4616.1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title">Super Value Deal : 2 Medium Pizzas starting at Rs 599</h6>
        <p class="card-text">Choose any 2 of your favorite medium pizza    </p>
        <button class="card-btn">View more</button>
      </div>
    </div>
    
    </div>
    <div class="col-lg-2">
    
      <div class="card" style="height: 350px;">
        <img class="card-img-top" src="assets\img3\default.0502c2c0d94c1696fd17a25445dda1b2.1.svg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">free garlic bread (unlocked by voucher) </h6>
          <p class="card-text">free garlic bread (unlocked by voucher)</p>
          <button class="card-btn" style="margin-top: 50px;">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
    
      
        </div>
        <div class="col-lg-2">
    
         
          
          </div>
    
        <div class="col-lg-2" ></div>
    
    </div>
    
    
    
    
    
    <div class="row footer">
      <div class="col-lg-2"></div>
       <div class="col-lg-2 col1" >
          <div>
            <h5 class="footer-header">Order Now</h5>
          </div>
          <div class="footer-links">
              Deals
          </div>
          <div class="footer-links">
              Pizza
          </div>
          <div class="footer-links">
              slides
          </div>
          <div class="footer-links">
              Drinks
          </div>
          <div class="footer-links">
              Desserts
          </div>
        </div>
     
        <div class="col-lg-2 col2" >
          <div>
            <h5 class="footer-header">About</h5>
          </div>
          <div class="footer-links">
             About Us
          </div>
          <div class="footer-links">
             Contactless delivery
          </div>
          <div class="footer-links">
              Nutrition
          </div>
       
        </div>
    
        <div class="col-lg-2 col3" >
          <div>
            <h5 class="footer-header">Our Policies</h5>
          </div>
          <div class="footer-links">
              Terms & Condition
          </div>
          <div class="footer-links">
              Responsible disclosure
          </div>
          <div class="footer-links">
              FAQs & Help
          </div>
          
        </div>
    
        <div class="col-lg-2 col4" >
          <div>
            <h5 class="footer-header">Visit Pizza Hut</h5>
          </div>
          <div class="footer-links">
              Locate a store
          </div>
          <div class="footer-links">
              Global Blog
          </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-5">
        
      </div>
      <div class="col-lg-3" style="padding: 20px;">
       <img src="assets\img3\app-store-ios.fd6d0921ff522febd6e2a4c2fab9af72.svg" alt="" style="width: 120px; " >
       <img src="assets\img3\app-store-google-play.b1ffb9f40420b63efe43e34f60bfb682.png" alt="" style="width: 120px;">
      </div>
      <div class="col-lg-4">
       
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-6 feedback" style="padding-left: 10%;">
        <p style="color: white;">Help us in serving you better
          <button type="submit" class="btn btn-light  mb-2">Give Feedback</button>
        </p>
      </div>
      <div class="col-lg-3">
        
      </div>
      <div class="col-lg-3">
        <div>
          <p style="color: white;">Follow Us</p>
        </div>
        <div style="margin-bottom: 20px; position: relative; right: 30px;">
          <img src="assets\img3\social-white-facebook.7cce5c98cdf27ef51601f3650f73b465.png" alt="" style="width: 20px; margin-right: 10px;">
          <img src="assets\img3\social-white-twitter.ef766a459cb51bbdaf9b24eaa5d21289.png" alt="" style="width: 22px; margin-right: 10px;">
          <img src="assets\img3\social-white-instagram.cf20de72a775ca841c887ea845457fa0.png" alt="" style="width: 23px; margin-right: 10px; ">
          <img src="assets\img3\social-white-youtube.c5d3435334b39f9535c1eeb639938a30.png" alt="" style="width: 24px; margin-right: 10px;">
        </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-1">
    
      </div>
      <div class="col-lg-10">
       <div>
         <p  class="ftr-txt text-center">Order a delicious pizza on the go, anywhere, anytime. Pizza Hut is happy to assist you with your home delivery. 
           Every time you order, you get a hot and fresh pizza delivered at your doorstep in less than</p>
          <p class="ftr-txt text-center" >thirty minutes. *T&C Apply.</p>
      </div>
      <div>
        <p class="ftr-txt text-center">Hurry up and place your order now!</p>
      </div>
       <div>
        <p class="ftr-txt text-center">© 2021 Pizza Hut India. All rights reserved. License Number: 10017011004220</p>
      </div>
      <div class="col-lg-1">
        
      </div>
      </div>
    </div>
    <div class="row footer" >
      <div class="col-lg-4">
        
      </div>
      <div class="col-lg-4">
       <img src="assets\img3\FSAAI-logo.cb99007614b9cff3e0150bce9711641d.svg" alt="" style="width: 70px; height: 70px; border-radius: 6px; margin-bottom: 10px; background-color: white;" class="mx-auto d-block">
      </div>
      <div class="col-lg-4 footer">
        
      </div>
    </div>
    
      
       
    </div>