
   .header{
    margin-top: 15px ;
    margin-bottom: 15px ;
   }
.logo{
    width: 140px;
    height: 24px;
    margin-left: 250px;
}
.nav-box{
  border-top: 0.5px solid rgb(240, 237, 237);
  border-bottom: 0.5px solid rgb(240, 237, 237);
  
}

.bar-nav{
  width: 25%;
  
  font-size: 18px;
  font-weight: 600px;
  color: #000;
  border-right: 0.5px solid rgb(240, 237, 237);
  
}

.bar-nav-img{
    
    width: 25%;
    font-size: 18px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    border-left: 0.1px solid rgb(240, 237, 237);
    border-right: 0.1px solid rgb(240, 237, 237);
  }
  .nav-color{
    color: #000;
  }
  .nav-color-2{
    color: rgb(255, 255, 255);
  }
  
//   .sec-2{
//     background-image: url("assets\img2\app-bg.9637f025c0a8602011051ed056e61616.jpg");
//   }

.heading-h2{
 margin-top: 30px;
 padding-left: 670px;
}


.heading-p{
 margin-top: 30px;
 padding-left: 560px;
 margin-bottom: 50px;
}


.card{
width: 107%;
margin-bottom: 15px;
}

.card-title{
  font-size: 1.07rem;
    margin-bottom: 16px;
}

.card-text{

  font-size: 0.9rem;
    color: rgb(35, 31, 32);
}

.card-btn{
  font-weight: 600;
    margin-top: 32px;
    background: #0A8020;
    color: white;
    text-align: center;
    padding: 12px 16px;
    border-radius: 6px;
   
    font-size: 1rem;
    box-shadow: none;
    border-width: 0px;
  
    width: 100%;
   
    
}
  .footer{
  
    width: 103%;
      background-color: black;
      color: #e9ebee;
  }

  .footer-header{
      margin-top: 50px;
  }
  .footer-links{
      font-size: 13px;
  }

 .col2{
padding-left: 40px;
  }
  .col3{
padding-left: 70px;
  }
  .col4{
padding-left: 100px;
  }

  .appstore1{
      width: 100%;
      background-color: #000;
      position: relative;
      top: 89px;
      right: 520px;
  }
.appstore2{
    width: 100%;
    background-color: #000;
      position: relative;
      top: 53px;
      
      right: 370px;
  }

.feedback {
 
  position: relative;
  left: 90px;
  top: 20px;
}
.ftr-txt{
color: #78838c;
font-size: 12px;
}
