


<div class="container-fluid">

 
    



<div class="row sec-2">

    <div>
    <h2 class="heading-h2 "> Our Pizzas</h2>
    <p class="heading-p">Explore our great range of pizza recipes from the Pizza Hut pizza menu.</p>
    </div>
    </div>
    
    <div class="row sec-2" style=" background-image: url('assets\img2\app-bg.9637f025c0a8602011051ed056e61616.jpg');">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  
      


      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  

      <div class="row sec-2">
        <div class="col-lg-2" ></div>
      <div class="col-lg-2">
      
      <div class="card" >
        <img class="card-img-top" src="assets\img2\momo-mia-non-veg.bfd96b4a31f0246703333a3feac75f4c.1.jpg" alt="Card image">
        <div class="card-body">
          <h6 class="card-title">Momo Mia Pizza-Veg</h6>
          <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
          <button class="card-btn">View more</button>
        </div>
      </div>
      
      </div>
      <div class="col-lg-2">
      
        <div class="card" >
          <img class="card-img-top" src="assets\img2\momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" alt="Card image">
          <div class="card-body">
            <h6 class="card-title">Momo Mia Pizza-Veg</h6>
            <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
             
            <button class="card-btn">View more</button>
          </div>
        </div>
        
        </div>
        <div class="col-lg-2">
      
          <div class="card" >
            <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Momo Mia Pizza-Veg</h6>
              <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
              <button class="card-btn">View more</button>
            </div>
          </div>
          
          </div>
          <div class="col-lg-2">
      
            <div class="card" >
              <img class="card-img-top" src="assets\img2\tandoori-paneer.954d93452557209bebe0b7f49e776ba2.1.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Momo Mia Pizza-Veg</h6>
                <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
                <button class="card-btn">View more</button>
              </div>
            </div>
            
            </div>
      
          <div class="col-lg-2" ></div>
      
      </div>
  
      

<div class="row sec-2">
  <div class="col-lg-2" ></div>
<div class="col-lg-2">

<div class="card" >
  <img class="card-img-top" src="assets\img2\margherita.7d3b623ceb66e87fc7247fa81c6cfdc1.1.jpg" alt="Card image">
  <div class="card-body">
    <h6 class="card-title">Momo Mia Pizza-Veg</h6>
    <p class="card-text"> Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
     <button class="card-btn">View more</button>
  </div>
</div>

</div>
<div class="col-lg-2">

  
  
  </div>
  <div class="col-lg-2">

  
    </div>
    <div class="col-lg-2">

     
      
      </div>

    <div class="col-lg-2" ></div>

</div>





<div class="row footer">
  <div class="col-lg-2"></div>
   <div class="col-lg-2 col1" >
      <div>
        <h5 class="footer-header">Order Now</h5>
      </div>
      <div class="footer-links">
          Deals
      </div>
      <div class="footer-links">
          Pizza
      </div>
      <div class="footer-links">
          slides
      </div>
      <div class="footer-links">
          Drinks
      </div>
      <div class="footer-links">
          Desserts
      </div>
    </div>
 
    <div class="col-lg-2 col2" >
      <div>
        <h5 class="footer-header">About</h5>
      </div>
      <div class="footer-links">
         About Us
      </div>
      <div class="footer-links">
         Contactless delivery
      </div>
      <div class="footer-links">
          Nutrition
      </div>
   
    </div>

    <div class="col-lg-2 col3" >
      <div>
        <h5 class="footer-header">Our Policies</h5>
      </div>
      <div class="footer-links">
          Terms & Condition
      </div>
      <div class="footer-links">
          Responsible disclosure
      </div>
      <div class="footer-links">
          FAQs & Help
      </div>
      
    </div>

    <div class="col-lg-2 col4" >
      <div>
        <h5 class="footer-header">Visit Pizza Hut</h5>
      </div>
      <div class="footer-links">
          Locate a store
      </div>
      <div class="footer-links">
          Global Blog
      </div>
  </div>
</div>
<div class="row footer" >
  <div class="col-lg-5">
    
  </div>
  <div class="col-lg-3" style="padding: 20px;">
   <img src="assets\img2\app-store-ios.fd6d0921ff522febd6e2a4c2fab9af72.svg" alt="" style="width: 120px; " >
   <img src="assets\img2\app-store-google-play.b1ffb9f40420b63efe43e34f60bfb682.png" alt="" style="width: 120px;">
  </div>
  <div class="col-lg-4">
   
  </div>
</div>
<div class="row footer" >
  <div class="col-lg-6 feedback" style="padding-left: 10%;">
    <p style="color: white;">Help us in serving you better
      <button type="submit" class="btn btn-light  mb-2">Give Feedback</button>
    </p>
  </div>
  <div class="col-lg-3">
    
  </div>
  <div class="col-lg-3">
    <div>
      <p style="color: white;">Follow Us</p>
    </div>
    <div style="margin-bottom: 20px; position: relative; right: 30px;">
      <img src="assets\img2\social-white-facebook.7cce5c98cdf27ef51601f3650f73b465.png" alt="" style="width: 20px; margin-right: 10px;">
      <img src="assets\img2\social-white-twitter.ef766a459cb51bbdaf9b24eaa5d21289.png" alt="" style="width: 22px; margin-right: 10px;">
      <img src="assets\img2\social-white-instagram.cf20de72a775ca841c887ea845457fa0.png" alt="" style="width: 23px; margin-right: 10px; ">
      <img src="assets\img2\social-white-youtube.c5d3435334b39f9535c1eeb639938a30.png" alt="" style="width: 24px; margin-right: 10px;">
    </div>
  </div>
</div>
<div class="row footer" >
  <div class="col-lg-1">

  </div>
  <div class="col-lg-10">
   <div>
     <p  class="ftr-txt text-center">Order a delicious pizza on the go, anywhere, anytime. Pizza Hut is happy to assist you with your home delivery. 
       Every time you order, you get a hot and fresh pizza delivered at your doorstep in less than</p>
      <p class="ftr-txt text-center" >thirty minutes. *T&C Apply.</p>
  </div>
  <div>
    <p class="ftr-txt text-center">Hurry up and place your order now!</p>
  </div>
   <div>
    <p class="ftr-txt text-center">© 2021 Pizza Hut India. All rights reserved. License Number: 10017011004220</p>
  </div>
  <div class="col-lg-1">
    
  </div>
  </div>
</div>
<div class="row footer" >
  <div class="col-lg-4">
    
  </div>
  <div class="col-lg-4">
   <img src="assets\img2\FSAAI-logo.cb99007614b9cff3e0150bce9711641d.svg" alt="" style="width: 70px; height: 70px; border-radius: 6px; margin-bottom: 10px; background-color: white;" class="mx-auto d-block">
  </div>
  <div class="col-lg-4 footer">
    
  </div>
</div>

  
   
</div>



    

