<div class="container-fluid">
 
   
    
   
   <div class="container">
   
   <div class="row">
   
   <div class="col-lg-4 sec-1">
   <div >
   <h3 class="sec-h3">Pizza Hut</h3>
   
       <h5 class="sec-h4">
           Locate the nearest restaurant(s)
       </h5>
   
       <button class="btn-1" >  Search Nearby</button>
       <button class="btn-2" >Advanced Search</button>
   
   <input type="text" class="form-control" style="border-color: black; margin-top: 15px;" placeholder="Search nearby restaurents by locality">
   <button class="btn-submit" > <img src="assets\img4\" alt=""> <i class="fas fa-search" style="font-size: 12px;"></i> Search</button>
   
   </div>
   
   </div>
   
   <div class="col-lg-8">
   
       <img class="img-2" src="assets\img4\14_10_2021_jpg.jpg" alt="">
   </div>
   </div>
   
   <div class="row">
   <div class="col-lg-12  ">
       <h1 class="red-heading"> Pizza Hut Stores - Find Pizza near you!</h1>
   
   </div>
   
   </div>
   
   
   <div class="row row-height ">
   
   <div class="col-lg-4 scrolling-col  " >
     
   
   
   
       <div class="scroller">
           <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
           
               <p class="scroller-p">
                  <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
               </p>
               <p class="scroller-p margin-top">
                   <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                  <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
             
               <p class="scroller-p margin-top">
                  <img src="assets\img4\sprite-icon5.png" alt="">18002022022
               </p>
               <p class="scroller-p margin-top">
                   <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
               </p>
               <p class="scroller-p margin-top" >
                   <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                  Dine In |
                 Takeaway
               </p>
   
               <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
               <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
               <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
           </div>
   
           <div class="scroller">
               <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
               
                   <p class="scroller-p">
                      <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                   </p>
                   <p class="scroller-p margin-top">
                       <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                    <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                      <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                 
                   <p class="scroller-p margin-top">
                      <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                   </p>
                   <p class="scroller-p margin-top">
                       <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                   </p>
                   <p class="scroller-p margin-top" >
                       <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                      Dine In |
                     Takeaway
                   </p>
       
                   <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                   <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                   <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
               </div>
   
               
               <div class="scroller">
                   <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                   
                       <p class="scroller-p">
                          <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                       </p>
                       <p class="scroller-p margin-top">
                           <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                        <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                          <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                      
                       <p class="scroller-p margin-top">
                          <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                       </p>
                       <p class="scroller-p margin-top">
                           <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                       </p>
                       <p class="scroller-p margin-top" >
                           <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                          Dine In |
                         Takeaway
                       </p>
           
                       <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                       <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                       <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                   </div>
   +         
   
   <div class="scroller">
       <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
       
           <p class="scroller-p">
              <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
           </p>
           <p class="scroller-p margin-top">
               <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
            <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
              <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
           
           <p class="scroller-p margin-top">
              <img src="assets\img4\sprite-icon5.png" alt="">18002022022
           </p>
           <p class="scroller-p margin-top">
               <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
           </p>
           <p class="scroller-p margin-top" >
               <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
              Dine In |
             Takeaway
           </p>
   
           <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
           <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
           <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
       </div>
   
   
   
   
       <div class="scroller">
           <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
           
               <p class="scroller-p">
                  <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
               </p>
               <p class="scroller-p margin-top">
                   <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                  <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
             
               <p class="scroller-p margin-top">
                  <img src="assets\img4\sprite-icon5.png" alt="">18002022022
               </p>
               <p class="scroller-p margin-top">
                   <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
               </p>
               <p class="scroller-p margin-top" >
                   <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                  Dine In |
                 Takeaway
               </p>
   
               <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
               <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
               <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
           </div>
   
   
   
           <div class="scroller">
               <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
               
                   <p class="scroller-p">
                      <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                   </p>
                   <p class="scroller-p margin-top">
                       <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                    <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                      <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                 
                   <p class="scroller-p margin-top">
                      <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                   </p>
                   <p class="scroller-p margin-top">
                       <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                   </p>
                   <p class="scroller-p margin-top" >
                       <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                      Dine In |
                     Takeaway
                   </p>
       
                   <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                   <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                   <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
               </div>
   
   
   
   
               <div class="scroller">
                   <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                   
                       <p class="scroller-p">
                          <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                       </p>
                       <p class="scroller-p margin-top">
                           <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                        <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                          <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                    
                       <p class="scroller-p margin-top">
                          <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                       </p>
                       <p class="scroller-p margin-top">
                           <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                       </p>
                       <p class="scroller-p margin-top" >
                           <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                          Dine In |
                         Takeaway
                       </p>
           
                       <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                       <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                       <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                   </div>
   
   
                   <div class="scroller">
                       <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                       
                           <p class="scroller-p">
                              <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                           </p>
                           <p class="scroller-p margin-top">
                               <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                            <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                              <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                         
                           <p class="scroller-p margin-top">
                              <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                           </p>
                           <p class="scroller-p margin-top">
                               <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                           </p>
                           <p class="scroller-p margin-top" >
                               <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                              Dine In |
                             Takeaway
                           </p>
               
                           <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                           <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                           <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                       </div>
   
   
   
                       <div class="scroller">
                           <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                           
                               <p class="scroller-p">
                                  <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                               </p>
                               <p class="scroller-p margin-top">
                                   <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                                <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                                  <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                            
                               <p class="scroller-p margin-top">
                                  <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                               </p>
                               <p class="scroller-p margin-top">
                                   <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                               </p>
                               <p class="scroller-p margin-top" >
                                   <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                                  Dine In |
                                 Takeaway
                               </p>
                   
                               <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                               <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                               <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                           </div>
   
   
   
   
                           <div class="scroller">
                               <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                               
                                   <p class="scroller-p">
                                      <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                                   </p>
                                   <p class="scroller-p margin-top">
                                       <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                                    <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                                      <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                                   
                                   <p class="scroller-p margin-top">
                                      <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                                   </p>
                                   <p class="scroller-p margin-top">
                                       <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                                   </p>
                                   <p class="scroller-p margin-top" >
                                       <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                                      Dine In |
                                     Takeaway
                                   </p>
                       
                                   <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                                   <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                                   <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                               </div>
   
   
                               <div class="scroller">
                                   <p class="scroller-header"> <img src="assets\img4\sprite-icon1.png" alt="">  Pizza Hut</p>
                                   
                                       <p class="scroller-p">
                                          <img src="assets\img4\sprite-icon2.png" alt=""> Janpath
                                       </p>
                                       <p class="scroller-p margin-top">
                                           <p style="color: #505050; font-size: 14px; font-weight: 600;"> <img src="assets\img4\sprite-icon3.png" style="margin-left: 5px; color: #505050; font-size: 14px; font-weight: 600;" alt=""> Shop No 58 </p>
                                        <p style="position: relative; top: -28px; left: 35px; color: #505050; font-size: 14px; font-weight: 600;">   Janpath </p>
                                          <p style="position: relative; top: -50px; left: 35px; margin-bottom: -65px; color: #505050; font-size: 14px; font-weight: 600; "> New Delhi - 110001</p>
                                   
                                       <p class="scroller-p margin-top">
                                          <img src="assets\img4\sprite-icon5.png" alt="">18002022022
                                       </p>
                                       <p class="scroller-p margin-top">
                                           <img src="assets\img4\sprite-icon6.png" alt="">Open until 11:00 PM
                                       </p>
                                       <p class="scroller-p margin-top" >
                                           <img src="assets\img4\sprite-icon11.2.png" alt="">  Delivery |
                                          Dine In |
                                         Takeaway
                                       </p>
                           
                                       <button type="button" class="btn grey-btn-1"> <img src="assets\img4\sprite-icon16.png" alt="">  MAP</button>
                                       <button type="button" class="btn grey-btn-2">  <img src="assets\img4\sprite-icon14.png" alt="">  DETAILS</button>
                                       <button type="button" class="btn green-btn"> <img src="assets\img4\sprite-icon15.png" alt="">  ORDER</button>   
                                   </div>
   
   
   
   </div>
   <div class="col-lg-8 ">
           <img class="map-img" src="assets\img4\screencapture-restaurants-pizzahut-co-in-2021-12-11-19_28_06.png" alt="">
   </div>
   
   
   </div>
   
   <div class="row butons-row">
   
       <button type="button" class="btn btn-green-light">1</button>
       <button type="button" class="btn btn-light">2</button>
       <button type="button" class="btn btn-light">3</button>
       <button type="button" class="btn btn-light">Next ></button>
       <button type="button" class="btn btn-light">Last >></button>
   </div>
   
   
   </div>
   <div class="row footer f-border ">
    
   
       <div class="col-lg-12 ">
           <div class="footer-1 ">
                    State :<br>Andhra Pradesh / Assam / Bihar / Chandigarh / Chhattisgarh / Delhi / Goa / Gujarat / Haryana / Himachal Pradesh / Jammu And Kashmir / Jharkhand / Karnataka / Kerala / Madhya Pradesh / Maharashtra / Meghalaya / Odisha / Puducherry / Punjab / Rajasthan / Tamil Nadu / Telangana / Uttar Pradesh / Uttarakhand / West Bengal View Less
           </div>
           
       </div>
   
       </div>
   
   
       <div class="row footer">
           <div class="    col-lg-5 footer-2">
           <div class="footer-2-text">    © Copyright 2021, Pizza Hut International, LLC<br></div>
   <div class="yellow-text"> Terms & Conditions</div>
   </div>
   <div class="col-lg-4">
   <div class="images-f">
   
       <img src="assets\img4\social-icon-fb.png" alt="">
       <img src="assets\img4\social-icon-google.png" alt="">
       <img src="assets\img4\social-icon-twitter.png" alt="">
       <img src="assets\img4\social-icon-insta.png" alt="">
       <img src="assets\img4\social-icon-youtube.png" alt="">
       <img src="assets\img4\social-icon-browser.png" alt="">
   
   
   </div>
   </div>
   
   <div class="col-lg-3">
   <div class="poweredby">
   
       <p>Powered by : 
          <span class="white-text">Single</span> 
         <span class="blue-text"> Interface</span></p>
   </div>
   </div>
   
   
   
   </div>
   </div>