
   .header{
    margin-top: 15px ;
    margin-bottom: 15px ;
   }
.logo{
    width: 155px;
    height: 30px;
    margin-left: 230px;
}

.signin{
        padding-top: 50px;
       padding-left: 840px;
       font-weight: normal;
    text-decoration: underline dotted;
    text-underline-position: under;
    font-size: 14px;
    line-height: 20px;
    color: rgb(107, 110, 121);
   
       
}


.nav-link{
    margin-left: 170px;
  
}