<div class="row">
    <div class="col-lg-2 "></div>
    <div class="col-lg-8 sec-1">
   
    <h3 class="sec-h3">Pizza Hut</h3>
    
        <h5 class="sec-h4">
            Locate the nearest restaurant(s)
        </h5>
        <div class="row">
            <div class="col-lg-6">
                <button class="btn-1 form-control" >  Search Nearby</button>
            </div>
            <div class="col-lg-6">
                
        <button class="btn-2 form-control"style="border-color: black; margin-top: 0px;" >Advanced Search</button>
            </div>
        </div>
       
    
    <input type="text" class="form-control" style="border-color: black; margin-top: 15px;" placeholder="Search nearby restaurents by locality">
    <button class="btn-submit form-control" > <img src="assets\img4\" alt=""> <i class="fas fa-search" style="font-size: 12px;"></i> Search</button>
   
    
    </div>
    <div class="col-lg-2 "></div>
    </div>