

.sec-1{
    position: relative;
    right: 30px;
background-color: #fff;
width: 105%;
padding-left: 10px;


}

.sec-h3{
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 27px;
   
    font-weight: 400;
}

.sec-h4{
    font-family: arial;
    font-size: 18px;
    
    color: #444;
    margin-bottom: 10px;
}

    .btn-1{
        // width: 160px ;
        height: 40px;
        background: #70a401;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    }
.btn-submit{
    padding-left: 3px;
    font-size: 14px;
    margin-top: 10px;
    // margin-left: 270px;
  
        height: 35px;
        background: #70a401;
    color: #fff;
    border: 0px;
    border-radius: 3px;
}
    .btn-2{
        // width: 160px ;
        height: 40px;
        background-color: #fff;
        margin-top: -10px;
        // border: 0px;
    border-radius: 3px;
    }
